# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
    -   repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v2.4.0
        hooks:
        -   id: trailing-whitespace
        -   id: end-of-file-fixer
        -   id: check-yaml
        -   id: check-added-large-files
            args: ["--maxkb=2000"]
    -   repo: https://gitlab.com/pycqa/flake8
        rev: 8f9b4931b9a28896fb43edccb23016a7540f5b82
        hooks:
        -   id: flake8
    -   repo: https://github.com/psf/black
        rev: 20.8b1
        hooks:
          - id: black
            language_version: python3.7
